<%= erb :"_form_errors.html", :locals => { :item => item } %>

<div class="field"><%= MacroDeck::TitleBehavior.new(item).to_form_field %></div>

<%

if object.fields_by_priority
	object.fields_by_priority.each do |priority_set|
		priority_set[1].each do |f|
			behavior_class = "#{f.to_s}_behavior".camelize
			behavior_class = "MacroDeck::#{behavior_class}"

			begin
				behavior = behavior_class.constantize
			rescue NameError
				behavior = nil
			end

			unless object.introspections[f.to_sym][:internal] == true
				out = erb :"_field.html", :locals => { :item => item, :field => f, :behavior => behavior }
%>
				<%= out %>
<%
			end
		end
	end
end

%>
