<table>
	<thead>
		<th>Title</th>
		<th>Type</th>
	</thead>
	<tbody>
		<% if objects %>
			<% objects.each do |item| %>
				<tr>
					<td><a href="<%= item_path(item) %>"><%= h item.title %></a></td>
					<td><%= h item['couchrest-type'] %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
