<table>
	<thead>
		<th>Title</th>
		<th>Type</th>
	</thead>
	<tbody>
		<% objects.each do |obj| %>
			<tr>
				<td><a href="/<%= obj.class.to_s.underscore.pluralize %>/<%= h obj.id %>"><%= h obj.title %></a></td>
			</tr>
			<tr>
				<%= h obj['couchrest-type'] %>
			</tr>
		<% end %>
	</tbody>
</table>
