<table>
	<thead>
		<th>Title</th>
		<th>Type</th>
	</thead>
	<tbody>
		<% if objects %>
			<% objects.each do |obj| %>
				<tr>
					<td><a href="/<%= obj.class.to_s.underscore.pluralize %>/<%= h obj.id %>"><%= h obj.title %></a></td>
					<td><%= h obj['couchrest-type'] %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
