<h1>MacroDeck Platform Test App</h1>
<h2>Editing <%= MacroDeck::TitleBehavior.new(item).to_html %></h2>

<form action="" method="post">
	<%= erb :"_form.html", :locals => { :object => item } %>
</form>
