<h1>MacroDeck Platform Test App</h1>
<h2>Viewing <%= h @object.to_s.pluralize %></h2>

<p><a href="<%= items_path(object) %>/new/">new <%= h @object.to_s.downcase %> at root</a></p>

<%= erb :'_list.html', :locals => { :object => @object, :objects => objects } %>
