<h1>MacroDeck Platform Test App</ih1>
<h2>New <%= h object.to_s %></h2>

<form action="<%= items_path(object, parent) %>" method="post">
	<%= erb :"_form.html", :locals => { :object => object, :item => item } %>
	<input type="submit" value="Create" class="btn btn-green big" />
</form>
