<h2>Question</h2>
<h3>
	<%
		title = task.title

		value_map.each_pair do |key, value|
			if !value.nil? && value.length == 2 && value[1] != {}
				begin
					value_behavior = "MacroDeck::#{value[0]}Behavior".constantize
					value_behavior = value_behavior.new(task)
				rescue NameError
					value_behavior = nil
				end

				if value_behavior.nil? || !value_behavior.respond_to?(:to_human_string)
					title.gsub!("$$#{key}$$", value[1])
				else
					title.gsub!("$$#{key}$$", value_behavior.to_human_string(value[1]))
				end
			end
		end
	%>
	<%= title %>
</h3>

<!-- fields to show to the user -->
<% if task.show_fields.length > 0 %>
	<% task.show_fields.each do |field| %>
		<% if field == "_attachment" %>
			<p><em>Attachment would go here</em></p>
		<% else %>
			<p><%= h item.send(field.to_sym) %></p>
		<% end %>
	<% end %>
<% end %>

<!-- answers -->
<%= erb :"_turk_form.html", :locals => { :task => task, :assignment_id => assignment_id } %>
